<h1>Make your form here</h1>

 <form method="POST" action="/pirates">
      <p>pirate[name] <input type="text" id="pirate_name" name="pirate[name]"></p>
      <p>pirate[weight] <input type="text" id="pirate_weight" name="pirate[weight]"></p>
      <p>pirate[height] <input type="text" id="pirate_height" name="pirate[height]"></p>
      <p>pirate[ships][][name] <input type=“text” id="ship_name_1" name=“name”></p>
      <p>pirate[ships][][type] <input type=“text” id="ship_type_1" name=“type”></p>
      <p>pirate[ships][][booty] <input type=“text” id="ship_booty_1" name=“booty”></p>
      <p>pirate[ships][][name] <input type=“text” id="ship_name_2" name=“name”></p>
      <p>pirate[ships][][type] <input type=“text” id="ship_type_2" name=“type”></p>
      <p>pirate[ships][][booty] <input type=“text” id="ship_booty_2" name=“booty”></p>
    <input type="submit" value="Submit">
</form>
